.gradient-bg {
            background: linear-gradient(90deg, #97F8BE, #E5E848);
            color: #993300;
        }

        /* Content Layout */
        .content {
            display: block;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
        }

        .container-img-content-home {
				display: flex;

}
			.box-img-left-home {
            width: 50%;
            height: 100px;
            background: white;
				margin-right: 10px;
            margin-bottom: 10px;
            border-style: solid;
				border-width: thin;
				border-radius: 10px;
            box-sizing: border-box;
        }
			.box-img-right-home {
            width: 50%;
            height: 100px;
            background: white;
            margin-left: 10px;
				margin-bottom: 10px;
				border-style: solid;
				border-width: thin;
            border-radius: 10px;
            box-sizing: border-box;
        }
			.box-content-home {
            width: 100%;
            background: linear-gradient(to right, #12ACE6, #60E8A3);
            margin-bottom: 20px;
            border-radius: 10px;
            box-sizing: border-box;
        }

.container-bookmark-content-guide {
				display: flex;

}

.box-bookmark-guide {
            width: 50%;
            height: 370px;
            background: white;
				margin-right: 10px;
            margin-bottom: 10px;
            border-style: solid;
				border-width: thin;
				border-radius: 10px;
            box-sizing: border-box;
        }

.box-content-guide {
            width: 100%;
            height: 370px;
            background: linear-gradient(to right, #12ACE6, #60E8A3);
            margin-bottom: 10px;
            border-radius: 10px;
            box-sizing: border-box;
        }

        /* Footer */
.footer {
            display: block;
            background: linear-gradient(to right, #97F8BE, #E5E848);
            text-align: justify;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            font-size: 14px;
            color: #333;
        }